# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

[include mainsail.cfg]
[include timelapse.cfg]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_41000D000A50534E4E313120-if00
restart_method: command

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2D0025000950415833323720-if00
restart_method: command

######################################################################
# define the printer

[printer]
kinematics: corexy
max_velocity: 650 
max_accel: 8000            #Max 4000
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: True

[include xyz_steppers.cfg]
[include extruder.cfg]
[include bed.cfg]
[include probe.cfg]
[include fans.cfg]
[include macros.cfg]
[include bed_and_gantry.cfg]
[include lcd.cfg]
[include leds.cfg]
[include stealthburner_leds.cfg]
[include menu_override.cfg]
[include resonance.cfg]
[include speed_test.cfg]
[include KAMP_Settings.cfg]

# [gcode_arcs]
[exclude_object]

######################################################################
# extra temperature sensors

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor eeb_temp]
sensor_type: temperature_mcu
sensor_mcu: EBB 
min_temp: 10
max_temp: 100

[output_pin lights]
pin: PA2 # Replace gpio8 with the appropriate pin number
value: 0 # Startup value, 0 for off, 1 for on

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.277
#*# pid_ki = 0.762
#*# pid_kd = 109.664
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 41.816
#*# pid_ki = 1.764
#*# pid_kd = 247.761
#*#
#*# [probe]
#*# z_offset = -0.795
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.042215, -0.030154, -0.002412, 0.027741
#*# 	-0.051864, -0.016886, 0.009649, 0.004825
#*# 	-0.066338, -0.036184, -0.009649, 0.021711
#*# 	-0.097697, -0.051864, -0.001206, -0.047039
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 45.0
#*# max_x = 255.0
#*# min_y = 75.0
#*# max_y = 225.0
